#uno{
    background-color: #2a3;
    height: 100px;
    width: 200px;
    margin-left: 50px;
    margin-bottom: 50px;
}
#dos{
    background-color: #23a;
    height: 100px;
    width: 200px;
    margin: auto;
}
#tres{
    background-color: sienna;
    height: 100px;
    width: 200px;
    margin: 30px;
}
#cuatro{
    background-color: #e0ba62;
    height: 100px;
    width: 200px;
    padding: 25px;
    box-sizing: border-box;
}