*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}
body{
    background-color: #d8d8d8;
    font-family: Raleway, sans-serif;
    font-size: 1em;
    color: #444;
}
header{
    background-color: #fff;
    height: 80px;
    padding-top: 30px;
}
    header nav{
        float: right;
    }
        header nav a{
            text-decoration: none;
            color: #444;
        }

.contenedor{
    width: 900px;
    margin: auto;
}

main{

}
    #principal{
        width: 700px;
        margin: auto;
        padding-top: 50px;
    }
    h1{
        padding: 25px 0px;
    }

    #subtema1{
        margin-top: 30px;
    }
    #subtema1 img{
        float: left;
    }
    #subtema1 h2{
        padding: 60px 0 20px 0;
    }
    #subtema2{
        clear: both;
    }
    #subtema2 #caja{
        display: inline-block;
        width: 280px;
        padding-top: 40px;
    }
        #caja h2{
            padding: 60px 0 20px 0;
        }

    #subtema2 img{
        /*display: inline-block; */
        float: right;
    }

    nav#features{
        text-align: center;
        padding: 20px 0px;
        clear: both;
    }

        nav#features a{
            color: #555;
            padding: 26px 15px;
        }


footer{
        height: 140px;
        background-color: #fff;
        padding-top: 60px;
}